<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Civilis</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
<!--   <div class="title">  
</div>  -->
  <!-- top level heading -->
  <header class="_demo--heading">
    <div class="_demo--container">
      <a class="wordmark" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/">
        <span class="wordmark--left">UCI</span>
        <span class="wordmark--right">Counterintelligence Research Group</span>
      </a>
      <nav class="heading-nav" role="menubar">
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="#" role="menuitem">
                    	Home
					</a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://slnlab.ics.uci.edu/people.html" role="menuitem">
						Team
					</a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="#" role="menuitem">
						Contact
					</a>
        </li>
   <!--      <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://developer.ibm.com/watson/" role="menuitem">
                        Community
                    </a>
        </li> -->
      </nav>
    </div>
  </header>
  <div class="_demo--banner banner">
    <div class="_demo--container">
      <div class="banner--service-container">
        <div class="banner--service-icon-container">
          <img class="banner--service-icon" src="images/service-icon.svg" alt="relationship extraction logo">
        </div>
        <div class="banner--service-info">
          <h1 class="banner--service-title base--h1">
                      <img class="banner--service-icon_INLINE" src="images/service-icon.svg" alt="relationship extraction logo">
                           CIVILIS
                  </h1>
          <div class="banner--service-description">
            Intelligent Bot that collects and analyses crime reports using Machine Learning, Natural Language Processing and Decision Trees. Currently, the Bot is limited to crimes like Theft, Abuse (physical, drug, sexual) and Suspicion (activity, person, weapon possession).
          </div>
        </div>
      </div>
      <!-- <div class="banner--service-resource-container">
        <div class="banner--row">
          <div class="banner--service-resource">
            <span class="icon icon-link"></span>
            <strong>Resources:</strong>
          </div>
        </div>
        <div class="banner--row">
          <div class="banner--service-links">
            <li class="base--li banner--service-link-item">
              <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/sireapi/" target="_blank" class="base--a">Documentation</a>
            </li>
            <li class="base--li banner--service-link-item">
              <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/apis/relationship-extraction-apis.html" target="_blank" class="base--a">API Explorer</a>
            </li>
            <li class="base--li banner--service-link-item">
              <a href="https://github.com/watson-developer-cloud/relationship-extraction-nodejs" target="_blank" class="base--a">Fork on Github</a>
            </li>
            <li class="base--li banner--service-link-item">
              <a href="https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/relationship-extraction-nodejs" target="_blank" class="base--a">Deploy on Bluemix</a>
            </li>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!-- demo body -->
  <div class="_demo--container">
    <article class="_content base--article">
      <div class="row">
        <div class="input-section">
          <h3 class="base--h3">Try me</h3>
          <p class="base--p">Try inputting any crime report from the categories mentioned in the description above</p>
          <textarea class="base--textarea js-input-section--text-area" rows="12">
My son was being followed by an unknown man in the morning. He looks like a 40 year old wearing black clothes and white most probably. This happened at around 8am at 323 Wolf Street, Los Angeles. Please help.
          </textarea>
          <button type="submit" class="base--button input-section--submit-button js-input-section--submit-button">Submit</button>
        </div>
        <div class="output-section">
          <h3 class="base--h3">Output</h3>
          <!-- <h5 class="base--h5">Crime Prediction: Abuse Sexual Abuse</h5> -->
          <div class="output-section--loading js-output-section--loading">
            <div class="output-section--loading-image-container">
              <img src="images/loading-indicator.gif" alt="loader" class="output-section--loading-image">
            </div>
          </div>
          <div class="output-section--error js-output-section--error">
            <div class="output-section--error-message js-output-section--error-message"></div>
          </div>
          <div class="output-section--prediction-container js-output-section--prediction-container">

          </div>
          <div class="output-section--table-container js-output-section--table-container"></div>
    </article>
  </div>

  <!-- Underscore Template Example -->
  <script type="text/html" id="entityTableTemplate">
    <table class="base--table">
      <thead class="base--thead">
        <tr class="base--tr">
          <td class="base--td">Entity</td>
          <td class="base--td">Type</td>
        </tr>
      </thead>
      <tbody>
        <% _.each(items, function(item, key, list) { %>
        <tr class="base--tr">
          <td class="base--td"><%= item.entity %></td>
          <td class="base--td"><%= item.type %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/html" id="predictionTextTemplate">
<h5> <%= test %> </h5>
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>


</body>

</html>
